{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">

  <div class="author__avatar">
    <img
      src="{{ author.avatar | relative_url }}"
      class="author__avatar"
      alt="{{ author.name }}"
    >
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}
      <p class="author__bio">{{ author.bio }}</p>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      {% if site.description %}
        <li>
          <div style="white-space: normal; margin-bottom: 1em;">
            {{ site.description }}
          </div>
        </li>
      {% endif %}
      {% if author.location %}
        <li><i class="fa fa-fw fa-map-marker"></i> {{ author.location }}</li>
      {% endif %}
      {% if author.employer %}
        <li><i class="fa fa-fw fa-map-marker"></i> {{ author.employer }}</li>
      {% endif %}
      {% if author.uri %}
        <li>
          <a href="{{ author.uri }}">
            <i class="fas fa-fw fa-link"></i> Website
          </a>
        </li>
      {% endif %}
      {% if author.email %}
        <li>
          <a href="mailto:{{ author.email }}">
            <i class="fas fa-fw fa-envelope"></i> Email
          </a>
        </li>
        <!-- Copy-to-Clipboard 邮箱按钮 -->
        <li class="copy-email">
          <button id="copy-email-btn" data-email="{{ author.email }}">
            <i class="fas fa-fw fa-envelope"></i>
            Copy Email
          </button>
        </li>
      {% endif %}
      {% if author.keybase %}
        <li>
          <a href="https://keybase.io/{{ author.keybase }}">
            <i class="fas fa-fw fa-key"></i> Keybase
          </a>
        </li>
      {% endif %}
      {% if author.researchgate %}
        <li>
          <a href="{{ author.researchgate }}">
            <i class="fab fa-fw fa-researchgate"></i> ResearchGate
          </a>
        </li>
      {% endif %}
      {% if author.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ author.linkedin }}">
            <i class="fab fa-fw fa-linkedin"></i> LinkedIn
          </a>
        </li>
      {% endif %}
      {% if author.github %}
        <li>
          <a href="https://github.com/{{ author.github }}">
            <i class="fab fa-fw fa-github"></i> GitHub
          </a>
        </li>
      {% endif %}
      {% if author.googlescholar %}
        <li>
          <a href="{{ author.googlescholar }}">
            <i class="fas fa-fw fa-graduation-cap"></i> Google Scholar
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
